*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* universal section starts here */

.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}



.ludu-original{
    border: 2px solid;
    border-width: 20px;
}
/* universal section ends here */

/* first design starts here */

#fdesign .fdesign-top{
    background-color: red;
    width: 300px;
    height: 250px;

}

#fdesign{
    display: flex;
 
    gap: 20rem;
   
    
  
}

#fdesign .fdesign-down{
    background-color: white;
   width: 270px;
    margin: 0.5rem;
    height: 227px;
  
    
}

#fdesign .fdesign-round{
    border: 1px solid;
  background-color: orange;
    border-radius: 30rem;
    width: 2.3rem;
    height: 2.3rem;
    margin-top: -1rem;
  
}


#fdesign .fdesign-round:hover{
    transform:translatey(1rem);
}

/* #fdesign .round-main{
    display: flex;
    padding: 3rem;
    
} */



#fdesign .round1{
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 60px;
 gap: 2rem;
    
}


#fdesign .round2{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 80px;
   gap: 2rem;
 
}
/* first design ends here */




/* s design starts here */

#sdesign .fdesign-top{
    background-color: red;
    width: 300px;
    height: 250px;
    
}

#sdesign{
    display: flex;
    margin-top: -26rem;
    gap: 20rem;
    
  
}

#sdesign .fdesign-down{
    background-color: white;
   width: 270px;
    margin: 0.5rem;
    height: 227px;
   
  
    
  
  
    
}

#sdesign .fdesign-round{
    border: 1px solid;
  background-color: orange;
    border-radius: 30rem;
    width: 2.3rem;
    height: 2.3rem;
    margin-top: -1rem;
}



#sdesign .fdesign-round:hover{
    transform:translatey(1rem)
}

/* #fdesign .round-main{
    display: flex;
    padding: 3rem;
    
} */



#sdesign .round1{
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 60px;
 gap: 2rem;
    
}


#sdesign .round2{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 80px;
   gap: 2rem;
 
}
/* s design ends here */



/* ludu section starts here */

#ludu{
    margin-top: -26rem;
}

#ludu .border1{
    border: 1px solid;
    height: 23.4rem;
    width: 300px;
    margin-left: 29.4rem;
 
}


#ludu hr{
    padding: 30px;
    border-left: none;
    border-right: none;
    width: 300px;
}

#ludu .bordertop{
 
    margin-top: 58px;
    
}


#ludu .vl_left{
    border-left: 1px solid;

    height: 370px;
}




#ludu .vl_right{
    border-left: 1px solid;
     
    height: 370px;
}


#ludu .vl_main{
    display: flex;
    align-items: center;
     gap: 7rem;
     justify-content: center;
     margin-top: -23rem;
}


/* ludu section ends here */


/* middle section starts here */

#ludu_middle .ludu_middle{
    border: 1px solid;
    width: 300px;
 height: 220px;
 
}
/* middle section ends here */



/* left_right ludu sections starts here */
#ludu_left .left_ludu{
    border: 1px solid;
    height: 23.4rem;
    width: 20px;
   
    /* margin-left: 80rem; */
 
}


#ludu hr{
    padding: 30px;
    border-left: none;
    border-right: none;
    /* width: 20rem; */
}

#ludu .bordertop{
 
    margin-top: 58px;
    
}


#ludu .vl_left{
    border-left: 1px solid;

    height: 370px;
}




#ludu .vl_right{
    border-left: 1px solid;
     
    height: 370px;
}


#ludu .vl_main{
    display: flex;
    align-items: center;
     gap: 7rem;
     justify-content: center;
     margin-top: -23rem;
}




#ludu .left_right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* left_right ludu section ends here */




/* leftright sections starts here */


#left_right_main .left_right_main{
    display: flex;
    align-items: center;
    margin-left: -13rem;
    margin-top: -14rem;
    

}

#left_right_main .border1{
    border: 1px solid;
    /* height: 14.7rem; */
    /* width: 30rem; */
    margin-left: 23rem;
 
}



#left_right_main hr{
    padding: 47px;
  
   
    border-left: none;
    border-right: none;
    width: 470px;
  
}

#left_right_main .bordertop{
 
    margin-top: 58px;
    
}


#left_right_main .vl_left{
    border-left: 1px solid;

    height: 220px;
    
    margin-top: 7.5rem;
}




#left_right_main .vl_right{
    border-left: 1px solid;
     
    height: 219px;
   
    margin-top: 7.5rem;
}


#left_right_main .vl_main{
    display: flex;
    align-items: center;
     gap: 5rem;
     justify-content: center;
     margin-top: -23rem;
}


/* leftriight section ends here */




/* ludu-down starts here */




#ludu-down .border1{
    border: 1px solid;
    height: 23.4rem;
    width: 300px;
    margin-left: 29.4rem;
    /* margin-top: 1rem; */
 
}


#ludu-down hr{
    padding: 30px;
    border-left: none;
    border-right: none;
    width: 300px;
}

#ludu-down .bordertop{
 
    margin-top: 58px;
    
}


#ludu-down .vl_left{
    border-left: 1px solid;
 

    height: 370px;
}




#ludu-down .vl_right{
    border-left: 1px solid;
     
    height: 370px;
}


#ludu-down .vl_main{
    display: flex;
    align-items: center;
     gap: 7rem;
     justify-content: center;
     margin-top: -23rem;
}


/* ludu-down ends here */